<div class = 'main'>
	<div class= 'title'>Your word is: 
		<div class='mainword'>{{$ctrl.rhyme[0]}}</div>
	</div> 
	Rhyme Helpers:
	<div id = allhelpers>
		<div class = 'helpers'> {{$ctrl.rhyme[1]}} </div> 
		<div class = 'helpers'>{{$ctrl.rhyme[2]}} </div> 
		<div class = 'helpers'>{{$ctrl.rhyme[3]}} </div>
		<div class = 'helpers'>{{$ctrl.rhyme[4]}} </div>
	</div>
	<br/> 
	<button ng-click='$ctrl.pause()'>Pause!</button>
	<button ng-click='$ctrl.speedIncrease()'>Faster! </button>
	<button ng-click='$ctrl.speedDecrease()'>Slower! </button>
	<button ng-click='$ctrl.remove()'> Delete this Rhymeset! </button>
</div>
